<div *ngIf="!isWindows else windows" appMycustomdirective>
  I am using MacOS
</div>

<div *ngIf="!isWindows else windows" appMycustomdirective>
  I am using Ubuntu
</div>

<ng-template #windows>
  <div>
    I am using Windows now
  </div>
</ng-template>

<button (click)="startUsingMac()">Use Mac</button>
<button (click)="startUsingLinux()">Use Linux</button>
<button (click)="startUsingWindows()">Use Windows</button>

<br/>
<br/>
<br/>
<br/>

<div *ngIf="isIos then iphone; else android" appMycustomdirective></div>

<ng-template #iphone>
  <div>
    I am using iPhone
  </div>
</ng-template>

<ng-template #android>
  <div>
    I am using Android
  </div>
</ng-template>

<button (click)="toggleMobileOS()">Change Phone</button>

<br/>
<br/>
<br/>

<table border="1" appMycustomdirective>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOfProducts">
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </tbody>
</table>

<br/>
<br/>
<div [hidden]="isHidden"> Hidden Example</div>
<br/>

<button (click)="selectAngular()">Select Angular</button>
<button (click)="selectReact()">Select React</button>
<button (click)="selectDataScience()">Select Data Science</button>
<button (click)="selectPython()">Select Python</button>
<button (click)="selectDevOps()">Select DevOps</button>

<div [ngSwitch]="selectedCourse" appMycustomdirective>
  <div *ngSwitchCase="'Angular'">I am an Angular developer</div>
  <div *ngSwitchCase="'React'">I am a React developer</div>
  <div *ngSwitchCase="'Data Science'">I am a Data Professional</div>
  <div *ngSwitchCase="'Python'">I am an Python developer</div>
  <div *ngSwitchCase="'DevOps'">I am a DevOps Engineer</div>
  <div *ngSwitchDefault>I am a Full Stack Engineer</div>
</div>

<h2 [ngClass]="{ 'less': proficiency == 'bad', 'average': proficiency == 'ok', 'good': proficiency == 'good' }">
  Welcome to Edureka, Course proficiency: {{ proficiency }}
</h2>

<h2 [ngStyle]="{ 'color': myColor }">
  Welcome to course
</h2>